* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f9fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 20px;
  
}

.navbar .logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .menu li {
  display: inline;
}

.navbar .menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  transition: 0.3s;
}

.navbar .menu li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.search-icon {
  color: white;
  font-size: 18px;
  cursor: pointer;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 10px 0;
      text-align: center;
  }

  .navbar .menu.active {
      display: flex;
  }

  .menu-toggle {
      display: block;
  }
}